{{!-- Everything inside the #author tags pulls data from the author --}} {{#author}}

<section class="author-card">
    {{#if profile_image}}
    <img class="author-profile-image" src="{{profile_image}}" alt="{{name}}" /> {{else}}
    <span class="avatar-wrapper">{{> "icons/avatar"}}</span>
    {{/if}}
    <section class="author-card-content">
        <h4 class="author-card-name">
            <a href="{{url}}">{{name}}</a>
            <span class="author-social-widgets">
            {{#if website}}
            <a class="author-social-button social-link social-link-wb" href="{{website}}" target="_blank" rel="noopener">{{> "icons/website"}}</a>
            {{/if}} 
            {{#if twitter}}
            <a class="author-social-button social-link social-link-tw" href="{{twitter_url}}" target="_blank" rel="noopener">{{> "icons/twitter"}}</a>
            {{/if}} 
            {{#if facebook}}
            <a class="author-social-button social-link social-link-fb" href="{{facebook_url}}" target="_blank" rel="noopener">{{> "icons/facebook"}}</a>
            {{/if}}
            </span>
        </h4>
        {{#if bio}}
        <p>{{bio}}</p>
        {{else}}
        <p>Read
            <a href="{{url}}">more posts</a> by this author.</p>
        {{/if}}
    </section>
</section>
<div class="post-full-footer-right">    
    <a class="author-card-button" href="{{url}}">Read More</a>
</div>

{{/author}}